<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout-table :: link-style}"></head>
<body>
<div th:replace="~{layout :: advertisement}"></div>
<div th:replace="~{layout :: header}"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="container-fluid">
                    <div class="table-responsive">
                        <div class="table-wrapper">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <h2>Manage <b>Facility</b></h2>
                                    </div>
                                    <div class="col-xs-4">
                                        <a href="/facility?create" class="btn btn-success" data-toggle="modal"><i
                                                class="material-icons">&#xE147;</i> <span>Add New Facility</span></a>
                                    </div>
                                    <div class="col-xs-5">
                                        <form class="d-flex" role="search" action="/facility">
                                            <input class="form-control me-2" type="search" placeholder="search"
                                                   aria-label="Search" name="nameSearch">
                                            <button class="btn btn-success" type="submit" name="action" value="search">
                                                search
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <table id="tableFacility" class="table table-striped table-hover" border="1">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên dịch vụ</th>
                                    <th>Diện tích sử dụng</th>
                                    <th>Chi phí thuê</th>
                                    <th>Số lượng người tối đa</th>
                                    <th>Tiêu chuẩn phòng</th>
                                    <th>Mô tả tiện nghi khác</th>
                                    <th>Diện tích hồ bơi</th>
                                    <th>Số tầng</th>
                                    <th>Dịch vụ miễn phí đi kèm</th>
                                    <th>Kiểu thuê</th>
                                    <th>Kiểu dịch vụ</th>
                                    <th>Sửa</th>
                                    <th>Xóa</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="facilitys, facilitysStart : ${facilitys}">
                                    <tr>
                                        <th scope="row" th:text="${facilitysStart.count}"></th>
                                        <td th:text="${facilitys.name}"></td>
                                        <td th:text="${facilitys.area}"></td>
                                        <td th:text="${facilitys.cost}"></td>
                                        <td th:text="${facilitys.maxPeople}"></td>
                                        <td th:text="${facilitys.standardRoom}"></td>
                                        <td th:text="${facilitys.descriptionOtherConvenience}"></td>
                                        <td th:text="${facilitys.poolArea}"></td>
                                        <td th:text="${facilitys.numberOfFloors}"></td>
                                        <td th:text="${facilitys.facilityFree}"></td>
                                        <td th:text="${facilitys.rentTypeId}"></td>
                                        <td th:text="${facilitys.facilityTypeId}"></td>
                                        <td>
                                            <a th:href="@{/facility/{id}/edit(id=${facilitys.id})}" class="edit"><i
                                                    class="material-icons"
                                                    data-toggle="tooltip"
                                                    title="Edit">&#xE254;</i></a>
                                        </td>
                                        <td>
                                            <a href="#deleteFacilityModal" class="delete" data-toggle="modal"
                                               th:attr="onclick=|infoDelete('${facility.id}','${facility.name}')|">
                                                <i class="material-icons" data-toggle="tooltip"
                                                   title="Delete">&#xE872;</i></a>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{layout :: footer}"></div>

<div class="modal fade" id="deleteFacilityModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form th:action="@{/facility/delete}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" hidden name="idDelete" id="idDelete">
                    <span>Bạn có muốn xóa chủ đề: </span>
                    <span id="nameDelete"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function infoDelete(id, name) {
        document.getElementById("idDelete").value = id;
        document.getElementById("nameDelete").innerText = name;
    }
</script>

<!-- MDB -->
<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>

</body>
</html>