<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout-list :: link-style}"></head>
<body>
<div th:replace="~{layout-action :: advertisement}"></div>
<div th:replace="~{layout-action :: header}"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="container-fluid">
                    <div class="table-responsive">
                        <div class="table-wrapper">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <h2>Manage <b>Employee</b></h2>
                                    </div>
                                    <div class="col-xs-4">
                                        <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i
                                                class="material-icons">&#xE147;</i> <span>Add New Employee</span></a>
                                    </div>
                                    <div class="col-xs-5">
                                        <form class="d-flex" role="search" action="/employee">
                                            <input class="form-control me-2" type="search" placeholder="search"
                                                   aria-label="Search" name="nameSearch">
                                            <button class="btn btn-success" type="submit" name="action" value="search">
                                                search
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-hover" border="1">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Name</th>
                                    <th>Ngày sinh</th>
                                    <th>CMND</th>
                                    <th>Lương</th>
                                    <th>Số điện thoại</th>
                                    <th>Email</th>
                                    <th>Địa chỉ</th>
                                    <th>Vị trí</th>
                                    <th>Trình độ</th>
                                    <th>Bộ phận</th>
                                    <th>Sửa</th>
                                    <th>Xóa</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="employees, employeesStart : ${employees}">
                                    <tr>
                                        <th scope="row" th:text="${employeesStart.count}"></th>
                                        <td th:text="${employees.name}"></td>
                                        <td th:text="${employees.dateOfBirthday}"></td>
                                        <td th:text="${employees.idCard}"></td>
                                        <td th:text="${employees.salary}"></td>
                                        <td th:text="${employees.phoneNumber}"></td>
                                        <td th:text="${employees.email}"></td>
                                        <td th:text="${employees.address}"></td>
                                        <td th:text="${employees.position.name}"></td>
                                        <td th:text="${employees.educationDegree.name}"></td>
                                        <td th:text="${employees.division.name}"></td>
                                        <td>
                                            <a href="#editEmployeeModal" class="edit" data-toggle="modal"
                                               th:attr="onclick=|infoEdit('${employees.id}','${employees.name}'
                                               , '${employees.dateOfBirthday}', '${employees.idCard}',
                                               '${employees.salary}', '${employees.phoneNumber}',
                                               '${employees.email}', '${employees.address}',
                                               '${employees.position.name}', '${employees.educationDegree.name}',
                                               '${employees.division.name}')|">
                                                <i class="material-icons"
                                                    data-toggle="tooltip"
                                                    title="Edit">&#xE254;</i></a>
                                        </td>
                                        <td>
                                            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"
                                               th:attr="onclick=|infoDelete('${employees.id}','${employees.name}')|">
                                                <i class="material-icons" data-toggle="tooltip"
                                                   title="Delete">&#xE872;</i></a>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                            <div>
                                <a th:href="@{/employee(page=${employees.number - 1}, keyword = ${name})}"
                                   th:if="${employees.hasPrevious()}">Previous</a>
                                <span th:text="${employees.number + 1}"></span>/<span
                                    th:text="${employees.totalPages}"></span>
                                <a th:href="@{/employee(page=${employees.number + 1}, keyword = ${name})}"
                                   th:if="${employees.hasNext()}">Next</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{layout-action :: footer}"></div>

<!--DeleteModal-->
<div id="deleteEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/employee/delete}" method="post">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Employee</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <span>Bạn có chắc chắn muốn xóa:  </span>
                    <span id="nameDelete"></span>
                    <input type="text" hidden name="idDelete" id="idDelete">
                    <p class="text-warning"><small>Hành động này không thể hoàn tác.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Add Modal HTML -->
<div id="addEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/employee/create}" method="post" th:object="${employee}">
                <div class="modal-header">
                    <h4 class="modal-title">THÊM MỚI NHÂN VIÊN</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                <div class="modal-body">
                    <div class="mb-2">
                        <label class="form-label">Tên nhân viên</label>
                        <input type="text" th:field="*{name}" class="form-control"/>
                    </div>

                    <div class="mb-2">
                        <label class="form-label">Ngày sinh</label>
                        <input type="date" th:field="*{dateOfBirthday}" class="form-control" required/>

                    </div>

                    <div class="mb-2">
                        <label class="form-label">Số CMND</label>
                        <input type="text" th:field="*{idCard}" class="form-control" required/>
                    </div>

                    <div class="mb-2">
                        <label class="form-label">Lương</label>
                        <input type="text" th:field="*{salary}" class="form-control" required/>
                    </div>

                    <div class="mb-2">
                        <label class="form-label">Số điện thoại</label>
                        <input type="text" th:field="*{phoneNumber}" class="form-control" required/>
                    </div>

                    <div class="mb-2">
                        <label class="form-label">Email</label>
                        <input type="email" th:field="*{email}" class="form-control" required/>
                    </div>

                    <div class="mb-2">
                        <label class="form-label">Địa chỉ</label>
                        <textarea type="text" th:field="*{address}" class="form-control" required></textarea>
                    </div>

                    <div class="mb-2">
                        <label class="form-label">Vị trí</label>
                        <select th:field="*{position}" class="form-select ">
                            <option value="">Chọn vị trí</option>
                            <option th:each="positions : ${positions}" th:value="${positions.id}"
                                    th:text="${positions.name}"></option>
                        </select>
                    </div>

                    <div class="mb-2">
                        <label class="form-label">Trình độ</label>
                        <select th:field="*{educationDegree}" class="form-select">
                            <option value="">Chọn trình độ</option>
                            <option th:each="educationDegrees : ${educationDegrees}" th:value="${educationDegrees.id}"
                                    th:text="${educationDegrees.name}"></option>
                        </select>
                    </div>

                    <div class="mb-2">
                        <label class="form-label">Bộ phận</label>
                        <select th:field="*{division}" class="form-select">
                            <option value="">Chọn bộ phận</option>
                            <option th:each="divisions : ${divisions}" th:value="${divisions.id}"
                                    th:text="${divisions.name}"></option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy">
                    <input type="submit" class="btn btn-success" value="Lưu">
                </div>
            </form>
        </div>
    </div>
</div>

<!--Edit Modal-->
<div id="editEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/employee/edit}" method="post" th:object="${employee}">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Employee</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">

                    <input id="idUpdate" type="hidden" th:field="*{id}" class="form-control" required/>

                    <div class="mb-2">
                        <label class="form-label">Tên nhân viên</label>
                        <input id="nameUpdate" type="text" th:field="*{name}" class="form-control"/>
                    </div>

                    <div class="mb-2">
                        <label class="form-label">Ngày sinh</label>
                        <input id="dateOfBirthdayUpdate" type="date" th:field="*{dateOfBirthday}" class="form-control" required/>

                    </div>

                    <div class="mb-2">
                        <label class="form-label">Số CMND</label>
                        <input id="idCardUpdate" type="text" th:field="*{idCard}" class="form-control" required/>
                    </div>

                    <div class="mb-2">
                        <label class="form-label">Lương</label>
                        <input id="salaryUpdate" type="text" th:field="*{salary}" class="form-control" required/>
                    </div>

                    <div cclass="mb-2">
                        <label class="form-label">Số điện thoại</label>
                        <input id="phoneNumberUpdate" type="text" th:field="*{phoneNumber}" class="form-control" required/>
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Email</label>
                        <input id="emailUpdate" type="email" th:field="*{email}" class="form-control" required/>
                    </div>

                    <div class="mb-2">
                        <label class="form-label">Địa chỉ</label>
                        <textarea id="addressUpdate" type="text" th:field="*{address}" class="form-control" required/></textarea>
                    </div>

                    <div class="mb-2">
                        <label class="form-label">Vị trí</label>
                        <select th:field="*{position}" class="form-select" id="positionUpdate">
                            <option th:each="positions : ${positions}" th:value="${positions.id}"
                                    th:text="${positions.name}"></option>
                        </select>
                    </div>

                    <div class="mb-2">
                        <label class="form-label">Trình độ</label>
                        <select th:field="*{educationDegree}" class="form-select" id="educationDegreeUpdate">
                            <option th:each="educationDegrees : ${educationDegrees}" th:value="${educationDegrees.id}"
                                    th:text="${educationDegrees.name}"></option>
                        </select>
                    </div>

                    <div class="mb-2">
                        <label class="form-label">Bộ phận</label>
                        <select class="form-select" id="divisionUpdate" th:field="*{division}">
                            <option th:each="divisions : ${divisions}" th:value="${divisions.id}"
                                    th:text="${divisions.name}"></option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy">
                    <input type="submit" class="btn btn-info" value="Lưu">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function infoDelete(id, name) {
        document.getElementById("idDelete").value = id;
        document.getElementById("nameDelete").innerText = name;
    }
</script>

<script>
    function infoEdit(id, name, dateOfBirthday, idCard, salary,
                        phoneNumber, email, address, position, educationDegree, division) {
        document.getElementById("idUpdate").value = id;
        document.getElementById("nameUpdate").value = name;
        document.getElementById("dateOfBirthdayUpdate").value = dateOfBirthday;
        document.getElementById("idCardUpdate").value = idCard;
        document.getElementById("salaryUpdate").value = salary;
        document.getElementById("phoneNumberUpdate").value = phoneNumber;
        document.getElementById("emailUpdate").value = email;
        document.getElementById("addressUpdate").value = address;
        document.getElementById("positionUpdate").value = position;
        document.getElementById("educationDegreeUpdate").value = educationDegree;
        document.getElementById("divisionUpdate").value = division;
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>