<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: link-style}"></head>
<body>
<div th:replace="~{layout :: advertisement}"></div>
<div th:replace="~{layout :: header}"></div>

<div class="container mt-4">
    <div class="row w-50 mx-auto">
        <div class="col-lg-12">
            <h3 style="text-align: center">CHỈNH SỬA THÔNG TIN DỊCH VỤ</h3>
            <form action="/facility/create" method="post" th:object="${facility}">

                <div class="form-outline mb-4">
                    <input type="text" th:field="*{name}" class="form-control"/>
                    <label class="form-label">Tên dịch vụ</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="text" th:field="*{area}" class="form-control"/>
                    <label class="form-label">Diện tích sử dụng</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="text" th:field="*{cost}" class="form-control"/>
                    <label class="form-label">Chi phí thuê</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="text" th:field="*{maxPeople}" class="form-control"/>
                    <label class="form-label">Số lượng người tối đa</label>
                </div>

                <div class="mb-2">
                    <select th:field="*{facilityType}" class="form-control"
                            th:attr: onchange="facilityTypeChanged(this.value)">
                        <option value="">Facility Type</option>
                        <option th:each="facilityTypes : ${facilityTypes}" th:value="${facilityTypes.id}"
                                th:text="${facilityTypes.name}"></option>
                    </select>
                </div>

                <div class="form-outline mb-4">
                    <input type="text" th:field="*{standardRoom}" class="form-control"/>
                    <label class="form-label">Tiêu chuẩn phòng</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="text" th:field="*{descriptionOtherConvenience}" class="form-control"/>
                    <label class="form-label">Mô tả tiện nghi khác</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="text" th:field="*{ poolArea}" class="form-control"/>
                    <label class="form-label">Diện tích hồ bơi</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="text" th:field="*{numberOfFloors}" class="form-control"/>
                    <label class="form-label">Số tầng</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="text" th:field="*{facilityFree}" class="form-control"/>
                    <label class="form-label">Dịch vụ miễn phí đi kèm</label>
                </div>

                <div class="mb-2">
                    <label class="form-label">Facility Type</label>
                    <select th:field="*{rentTypeId}" class="form-control">
                        <option value="">Chọn kiểu thuê</option>
                        <option th:each="rentTypes : ${rentTypes}" th:value="${rentTypes.id}"
                                th:text="${rentTypes.name}"></option>
                    </select>
                </div>

                <div style="text-align: center">
                    <a href="/facility"><input class="btn btn-primary" type="button" value="Quay lại"></a>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="~{layout :: footer}"></div>
<script>
    function facilityTypeChanged(value) {
        if (value == 1) {
            document.getElementById("standardRoom").hidden = false;
            document.getElementById("descriptionOtherConvenience").hidden = false;
            document.getElementById("poolArea").hidden = false;
            document.getElementById("numberOfFloors").hidden = false;
            document.getElementById("facilityFree").hidden = true;
        } else if (value == 2) {
            document.getElementById("standardRoom").hidden = false;
            document.getElementById("descriptionOtherConvenience").hidden = false;
            document.getElementById("poolArea").hidden = true;
            document.getElementById("numberOfFloors").hidden = false;
            document.getElementById("facilityFree").hidden = true;
        } else if (value == 3) {
            document.getElementById("standardRoom").hidden = true;
            document.getElementById("descriptionOtherConvenience").hidden = true;
            document.getElementById("poolArea").hidden = true;
            document.getElementById("numberOfFloors").hidden = true;
            document.getElementById("facilityFree").hidden = false;
        }
    }
</script>
<!-- MDB -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"></script>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>
</html>
